
<div class="jumbotron text-center" id="jumbo">
    <div class="container">
        <h1 class="results">RESULTS: </h1>
        <p>All the results for you ..... </p><p>fell free to re press the button again to research</p>
        <p><a class="btn btn-primary btn-lg" href="/scrape">RE-Search ALL </a></p>
    </div>
</div>
