
<div class="jumbotron text-center" id="jumbo">
    <div class="container">
        <h1>Search On eBay Deals</h1>
        <p>This web site will script for you on eBay Deals Web the best </p><p>offers for you, using Mango db as a technologie. Enjoy!</p>
        <p><a class="btn btn-primary btn-lg" href="/scrape">Search ALL </a></p>
    </div>
</div>
